*, *::after, *::before {
    box-sizing: border-box;
}

header {
    background-color: #fdfcfccc;
    padding: 30px 0;
    width: 100%;
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header ul li a {
    float: left;
    padding: 0 30px;
    display: flex;
}

#main_navigation ul {
    padding: 0px;
    margin: 0px;
}
#main_navigation ul li {
    list-style: none;
}

#main_navigation ul li a {
     text-decoration: none;
     color: black;
     transition: .2s ease-in-out
}

#main_navigation ul li a:hover {
    color: gainsboro;
    cursor: pointer
}

#main_navigation ul li a {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

hr {
    padding: 0px;
    margin: 0px; 
}

.header_navigation {
    display: flex;
    justify-content: space-around;
}

#first-div {
    width: 50%;
    background-image: url('images/111.jpeg');
}

.firstimg {
    width: 100%;
    height: 100%;
}

.seond-div {
    margin-left: 100px;
}

section {
    width: 100%;
    height: 100%;
}

.photo2 {
    margin: 0px;
    padding: 0px;
}

.firstimg :hover {
    display: none;
}

.flex { 
    display: flex;
}

.text_column {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.first_row > div, .second_row > div {
    flex: 1;
}

.first_row, .second_row {
    height: 50%;
}

.image_fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.travel_button, .travel_button_bottom {
    position: relative;
    background-color: #95c9c5;
    color: #fff;
    width: 100px;
    height: 34px;
    text-transform: uppercase;
    border: none;
}

.travel_button::before, .travel_button_bottom::after {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    border: 1px solid #95c9c5;
}

