@font-face {
  font-family: MyFirstFont;
  src: url(MyFirstFont.otf);
}

*, *::after, *::before {
  box-sizing: border-box;
}

header {
  flex-direction: column;
  background-color: #fdfcfccc;
  padding: 30px 0;
  width: 100%;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.connections .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social_media_icons {
  display: flex;
}

.social_media_icons li {
  list-style: none;
  margin: 0 6px;
}

.fab {
  transition: all .2s ease-in-out;
}

.social_media_icons a {
  text-decoration: none;
  color: #787878;
}

.social_media_icons li:hover .fab {
  cursor: pointer;
  color: #95cac5
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: #787878;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header nav ul li a {
  float: left;
  padding: 0 30px;
  display: flex;
}

#main_navigation ul {
  padding: 0px;
  margin: 0px;
}

#main_navigation ul li {
  list-style: none;
}

#main_navigation ul li a {
  text-decoration: none;
  color: black;
  transition: .2s ease-in-out
}

#main_navigation ul li a:hover {
  color: gainsboro;
  cursor: pointer
}

#main_navigation ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.header_navigation {
  display: flex;
  justify-content: space-around;
}

.div_img_text {
  position: absolute;
  color: black;
  opacity: 0;
}

.div_img_text:hover {
  color: blue;
  opacity: .7;
}

#first-div {
  width: 50%;
  background-image: url('images/111.jpeg');
}

#first-div:hover .image_fit {
  filter: blur(1px);
  opacity: .5;
  cursor: pointer;
}

#first-div:hover .span_on_image {
  transition: all .7s ease-in-out;
  opacity: 1;
}

#first-div {
  transition: opacity .7s ease-in-out;
  background: rgba(149, 202, 197, 0.85);
}

.image_fit {
  transition: .7s;
}

.flex_text_column:hover .image_fit {
  cursor: pointer;
  transition: .7s;
  transform: rotate(10deg) scale(1.3);
}

.flex_text_column {
  overflow: hidden;
}

.image_rotate {
  overflow: hidden;
}

.image_rotate:hover .image_fit {
  cursor: pointer;
  transition: .7s;
  transform: rotate(10deg) scale(1.3);

}

.firstimg {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.second-div {
  width: 50%;
}

section {
  width: 100%;
  height: 100%;
}

.firstimg :hover {
  display: none;
}

.flex {
  display: flex;
}

.text_column {
  background-color: #f8f8f8;
  align-items: center;
  justify-content: center;
}

.text_column > div {
  padding: 0 50px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.text_column > div p {
  line-height: 1.75em;
}

.first_row > div, .second_row > div {
  flex: 1;
}

.first_row, .second_row {
  height: 50%;
}

.image_fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.travel_button, .travel_button_bottom {
  margin-bottom: 10px;
  position: relative;
  background-color: #95c9c5;
  color: #fff;
  width: 100px;
  height: 34px;
  text-transform: uppercase;
  border: none;
}

.travel_button::before, .travel_button_bottom::after {
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid #95c9c5;
  cursor: pointer;

}

#first-div {
  overflow: hidden;
}

.spanchello {
  font-family: MyFirstFont;
  font-size: 34px;
  color: #787878;
}

.div_img_text {
  display: flex;
}

#first-div {
  position: relative;
}

.span_on_image {
  transition: opacity .7s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}

@media screen and (max-width: 768px) {

  .input_search, .button_search {
    display: none;
  }
  .first_row {
    flex-direction: column;
  }
  .second_row {
    flex-direction: column;
  }
  .social_media_icons {
    display: none;
  }
 .header_navigation {
   width: 70%;
 }
}

@media screen and (max-width: 1200px) {
  #image_container {
    flex-direction: column;
  }
  .header_navigation {
    width: 75%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .header_navigation {
    display: flex;
    flex-direction: column;
  }
}